.text-white {
  color: #ffffff;
}

.primary {
  background-color: #4f75da;
}

/*----------------- BUTTONS -----------------*/
.button-outline {
  background-color: transparent;
  color: white;
  border: none;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
}
.button-outline:hover {
  background-color: rgba(0, 0, 0, 0.08);
  text-decoration: none;
}
.button-outline:focus {
  outline: none;
}
/*----------------- BUTTONS -----------------*/

.title {
  font-family: Roboto, sans-serif;
}

.text {
  font-family: "Open Sans", sans-serif;
}
