.container {
  margin-bottom: 25px;
}

.homeLink {
  text-decoration: none;
  color: #ffffff;
}

.grow {
  flex-grow: 1
}

li a,
li a:hover {
  color: white;
}

li.active {
  background-color: white;
}

li.active a,
li.active a:hover {
  color: #9b4dca;
}
